<% include partials/header %>
<div class="ui main text container segment">
    <h1 class="ui huge header">
        <%= blog.title %>
    </h1>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>">
            <div class="content">
                <p>
                    <%= blog.created.toDateString() %>
                </p>
            </div>
            <div class="description">
                <p>
                    <%- blog.body %>
                </p>
            </div>
            <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button class="ui red basic button">Delete</button>
            </form>
        </div>
    </div>
</div>
<% include partials/footer %>